#navbar {
    display: flex;
    width: 1300px;
    justify-content: space-between;
    padding-left: 4%;
    padding-right: 4%;
    /* border: solid 2px black;
    border-radius: 20px; */
}
body {
    font-family:Arial, Helvetica, sans-serif
}
#top_nav{
    display: grid;
}
#top_nav_1{
    width: 24%;
    height: 60px;
    margin-top: 2%;
}
#nav_1_1{
    width: 100%;
    padding-left: 4%;
    padding-right: 4%;
    /* color: red;
    text-emphasis-color: black; */
}
#nav_1_2{
    text-align: center;
    font-family: Arial, Helvetica, sans-serifs;
}
#navbar_2{
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding-left: 4%;
    /* padding-right: 4%; */
}

#options {
    display: flex;
    justify-content: space-between;
}

#options h3 {
    padding-left: 30px;
    /* padding-right: 10px; */
}

img{
      width: 80%;
  }
#container{

    display: grid;
    grid-template-columns:  repeat(4, 25%);
    grid-gap: 20px;
    justify-content: center;
    padding: 5%;
    margin-left: 5%;
    height: 720;
    width: 85%;
    /* border: 2px solid red; */
    /* border: 2px solid red; */
  }
  #Search{
      /* width: 20%; */
      height: 45px;
      margin-top: 3%;
      margin-left: 1%;
    }
    #mid_1{
        width: 100%;
        padding-left: 4%;
        padding-right: 4%;
    }
    #mid_top_1{
        width: 1300px;
        display: grid;
        grid-template-columns:70% 25%;
        grid-gap: 0%;
        /* padding-left: 4%;
        padding-right: 4%; */
    }
    #mid_top_1_1{
        width: 100%;
        padding-left: 7%;
    }
    #mid_top_1_2{
        /* width: ; */
        height: 1080px;
    }
    #mid_top_2{
        width: 1300px;
        display: flex;
        padding-left: 4%;
        padding-right: 4%;
        
    }
    #mid_top_3{
        width: 100%;
        display: grid;
        grid-template-columns:30% 70%;
        grid-gap: 0%;
        padding-left: 2%;
    }

    
	#footer_1{
        display: grid;
        grid-template-columns:  15% 15% 15% 15% 15% 15% 15%;
        margin-left: 5%;
        background-color: #FAFAFA;
    }
    #footer_1_6{
        display: flex;
        gap: 4px;
    }
    .flag-1{
        /* border: 1px solid black; */
        border-radius: 8px;
        height: 15px;
        width: 15px;
    }
    #cart_1{
        display: grid;
        grid-template-columns: 50% 35%;
        grid-gap: 10%;
        border: red 5px solid;
    }
    #cheackout{
        height: 50px;
        width: 200px;
        font-size: 25px;            
    }